.popup {
    position: fixed;
    height: 100%;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index:200;
    background-color:white;
    
  }

.photo-scroll-main{
    overflow: scroll;
    height:100vh;
    scroll-behavior: auto;
}
.photo-scroll-main::-webkit-scrollbar { 
    display: none; 
} 
.photo-scroll{
    width:50vw;

}

.catergory{
    float:right;
    font-size:18px;
}
#rating{
    text-align:center;
    padding-top:130px;
    
}

.cafe-name{
    font-size:28px;
    font-weight:bold;
}
.pin{
    height:12px;
    margin-right:6px;
}
.pin-text{
    display:inline;
    color:black
}
.pin-text:hover{
    color:black
}
.dot{
    height:22px;
    width:22px;
    background-color:#AB9968;
    border-radius:50%
}
td > img{
    width:16px;
    margin:5px
}

.ranking-table{
    margin-left: auto;
    margin-right: auto;
}
.back-button{
    width:40px;
    position:fixed;
    left:100px;
    top:15px;
    z-index:2;
}
.back-button img{
    width:40px;
}
.back-button:hover{
    transform: translateX(-10px);
    transition: 0.5s;
}
.mini-blurb{
    width:450px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}
.tag{
    border: 1px solid #AB9968;
    border-radius: 12px;
    font-size:10px;
    padding:3px;
    padding-left:8px;
    padding-right:8px;
    display:inline-block
}

.ind{
    position:fixed;
    left:51vw;
    top:50vh;

}
.ind-dot{
    width:10px;
}