.popup {
    position: fixed;
    height: 100%;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:white;
    
  }

.photo-scroll{
    width:50vw;
    position:absolute;
    z-index:1;
}

.catergory{
    float:right;
    font-size:18px;
}
#rating{
    text-align:center;
    padding:130px;
    
}

.cafe-name{
    font-size:28px;
    font-weight:bold;
}
.pin{
    height:12px;
    margin-right:6px;
}
.pin-text{
    display:inline
}
.dot{
    height:22px;
    width:22px;
    background-color:#AB9968;
    border-radius:50%
}
td > img{
    width:16px;
    margin:5px
}

.ranking-table{
    margin-left: auto;
    margin-right: auto;
}
.back-button{
    width:40px;
    position:absolute;
    left:30px;
    top:15px;
    z-index:2;
}
.back-button:hover{
    box-shadow: 10px 10px 5px grey;
}
.mini-blurb{
    width:450px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}
